<section class="favorites">
  <div class="container">
    <h1>Favorites</h1>
    <div class="favorites__main">
      <div class="favorites__quote quote">
        <article class="quote__article">
          <div class="quote__logo">
            <svg class="icon" width="34" height="32">
              <use href="./img/sprite.svg#running-stick-figure-border"></use>
            </svg>
          </div>
          <div class="quote__body">
            <div class="quote__top">
              <h2 class="quote__ttl">Quote of the day</h2>
              <svg class="icon" width="24" height="24">
                <use href="./img/sprite.svg#commas"></use>
              </svg>
            </div>
            <p class="quote__text">
              A lot of times I find that people who are blessed with the most
              talent don't ever develop that attitude, and the ones who aren't
              blessed in that way are the most competitive and have the biggest
              heart.
            </p>
            <p class="quote__author">Tom Brady</p>
          </div>
        </article>
        <ul class="quote__daily-list">
          <li class="quote__daily-item">
            <div class="quote__daily-icon">
              <svg class="icon" width="24" height="24">
                <use href="./img/sprite.svg#gym"></use>
              </svg>
            </div>
            <p class="quote__time-value">110 min</p>
            <p class="quote__sports">Daily norm of sports</p>
          </li>
          <li class="quote__daily-image">
            <img
              srcset="
                ./img/favorites/image-mobile.jpg    1x,
                ./img/favorites/image-mobile@2x.jpg 2x
              "
              src="./img/favorites/image-mobile.jpg"
              alt="Young women doing fitness outdoors together"
              loading="lazy"
              width="335"
              height="242"
            />
          </li>
        </ul>
      </div>
      <div class="favorites__body">
        <ul class="favorites__list"></ul>
        <p class="favorites__empty">
          It appears that you haven't added any exercises to your favorites yet.
          To get started, you can add exercises that you like to your favorites
          for easier access in the future.
        </p>
      </div>
    </div>
  </div>
</section>
