<header class="header" role="banner">
  <div class="container">
    <nav class="header__nav" aria-label="Main navigation">
      <a class="header__logo" href="./index.html" rel="noopener noreferrer" aria-label="YOUR ENERGY - go to homepage">
        <svg width="132" height="24" aria-hidden="true" focusable="false">
          <use href="./img/sprite.svg#logo"></use>
        </svg>
      </a>
      <ul class="header__menu" role="menubar">
        <li class="header__menu-item" role="none">
          <a href="./index.html" class="header__menu-link" role="menuitem" aria-label="Home">Home</a>
        </li>
        <li class="header__menu-item" role="none">
          <a href="./favorites.html" class="header__menu-link" role="menuitem" aria-label="Favorites">Favorites</a>
        </li>
      </ul>
      <ul class="header__socials" aria-label="Social media links">
        <li class="header__social-item">
          <a href="https://www.facebook.com/goITclub/" rel="noopener noreferrer" target="_blank"
            aria-label="Link to Facebook">
            <svg width="28" height="28" aria-hidden="true" focusable="false">
              <use href="./img/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="header__social-item">
          <a href="https://www.instagram.com/goitclub/" rel="noopener noreferrer" target="_blank"
            aria-label="Link to Instagram">
            <svg width="28" height="28" aria-hidden="true" focusable="false">
              <use href="./img/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="header__social-item">
          <a href="https://www.youtube.com/c/GoIT" rel="noopener noreferrer" target="_blank"
            aria-label="Link to Youtube">
            <svg width="28" height="28" aria-hidden="true" focusable="false">
              <use href="./img/sprite.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
      <button aria-label="Menu" type="button" class="header__burger-btn" aria-expanded="false" aria-controls="sidebar">
        <svg width="32" height="32" aria-hidden="true" focusable="false">
          <use href="./img/sprite.svg#burger-menu"></use>
        </svg>
      </button>
    </nav>
  </div>
</header>