<div class="exercises-info">
  <div class="quote-container">
    <svg width="34" height="32">
      <use href="./img/sprite.svg#quote"></use>
    </svg>

    <div>
      <div class="quote-header">
        <h2 class="quote-title">Quote of the day</h2>
        <svg width="20" height="20">
          <use href="./img/sprite.svg#commas"></use>
        </svg>
      </div>
      <div class="js-quote"></div>
    </div>
  </div>

  <div class="img-quote">
    <img
      src="./img/filters/women_des.jpg"
      srcset="
        ./img/filters/women_mob.jpg     335w,
        ./img/filters/women_mob@2x.jpg  670w,
        ./img/filters/women_pla.jpg     704w,
        ./img/filters/women_pla@2x.jpg 1408w,
        ./img/filters/women_des.jpg    1112w,
        ./img/filters/women_des@2x.jpg 2224w
      "
      sizes="
            (max-width: 767px) 335px,
            (max-width: 1439px) 704px,
            1112px
          "
      alt="Two girls"
      class="image"
      width="335"
      height="242"
      loading="lazy"
    />
  </div>

  <div class="box2-info">
    <svg class="news-icon">
      <use href="./img/sprite.svg#icon-running-man"></use>
    </svg>
    <div class="box2-info-content">
      <h3 class="time-info-title">110 min</h3>
      <p class="text-info-subtitle">Daily norm of sports</p>
      <p class="text-info">
        The World Health Organization recommends at least 150 minutes of
        moderate-intensity aerobic physical activity throughout the week for
        adults aged 18-64. However, what happens if we adjust that number to 110
        minutes every day? While it might seem like a high number to hit,
        dedicating 110 minutes daily to sporting activities may offer
        unparalleled benefits to physical health, mental well-being, and overall
        quality of life.
      </p>
    </div>
  </div>
</div>
