body {
  font-family: var(--main-font-family);
  font-size: 16px;
  color: var(--primary);
  background-color: var(--primary-light);
  line-height: 1.125;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

html {
  overflow-x: hidden;
  scrollbar-width: none;
}

.container {
  width: 100%;
  max-width: 375px;
  margin: 0 auto;
  padding: 0 20px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 0 32px;
  }
}

.section {
  padding-bottom: 80px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: fit-content;
  outline: none;
  width: 100%;
  padding: 12px 24px;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3em;
  transition: var(--transition);
}

@media screen and (min-width: 768px) {
  .btn {
    font-size: 16px;
    line-height: 1.5em;
  }
}

.btn-primary {
  background-color: rgba(var(--rgba-light));
  border: 1px solid transparent;
  color: rgba(var(--rgba-black));
}

.btn-primary:hover {
  background-color: rgba(var(--rgba-black));
  border: 1px solid rgba(var(--rgba-light));
  color: rgba(var(--rgba-light));
}

.btn-secondary {
  background-color: rgba(var(--rgba-black));
  border: 1px solid rgba(var(--rgba-light));
  color: rgba(var(--rgba-light));
}

.btn-secondary:hover {
  background-color: rgba(var(--rgba-light));
  border: 1px solid transparent;
  color: rgba(var(--rgba-black));
}

.is-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  outline: transparent;
  outline-offset: 0;
  visibility: hidden;
  pointer-events: none;
  opacity: 0 !important;
}

.hidden {
  display: none;
}

.no-scroll {
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
  pointer-events: none;
}

@media screen and (min-width: 768px) {
  .section {
    padding-bottom: 100px;
  }
}

@media screen and (min-width: 1440px) {
  .section {
    padding-bottom: 150px;
  }
}

.modal-overlay {
  background-color: rgba(var(--rgba-bg-color), 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  opacity: 0;
  pointer-events: none;
  transition: var(--transition);
}

.modal-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
}

.close-modal-btn {
  position: absolute;
  top: 14px;
  right: 14px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .close-modal-btn {
    top: 16px;
    right: 16px;
  }
}

.close-modal-icon {
  width: 24px;
  height: 24px;
  stroke: rgba(var(--rgba-light));
}

@media screen and (min-width: 768px) {
  .close-modal-icon {
    width: 28px;
    height: 28px;
  }
}
