main {
  /* padding-top: 20px; */
}

.favorites-page .section-footer {
  display: none;
}
button {
  padding: 0px;
  margin: 0px;
  border: 0px;
  outline: 1px solid transparent;
  background-color: transparent;
}

.favorites h1 {
  color: var(--primary);
  font-size: 44px;
  line-height: 1.09;
  letter-spacing: -0.88px;
  gap: 32px;
}

.favorites h1:not(:last-child) {
  margin-bottom: 32px;
}

.favorites__main {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

.favorites__body.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.favorites__empty {
  color: var(--primary);

  text-align: center;
  font-size: 18px;
  line-height: 1.33;
  max-width: 554px;
}

.favorites__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px 16px;
  padding-right: 16px;
  max-height: 487px;
  overflow-y: auto;
}

.favorites__list::-webkit-scrollbar {
  width: 8px;
}

.favorites__list::-webkit-scrollbar-track {
  background: rgba(36, 36, 36, 0.1);
  border-radius: 12px;
  width: 8px;
  height: 487px;
}

.favorites__list::-webkit-scrollbar-thumb {
  background: #242424;
  border-radius: 12px;
  min-height: 153px;
}

.quote__article {
  border-radius: var(--border-radius-md);
  background-color: var(--primary);
  padding: 40px;
  display: flex;
  gap: 16px;
}
.quote__article:not(:last-child) {
  margin-bottom: 16px;
}
.quote__logo {
  flex: 0 0 34px;
  width: 34px;
  height: 32px;
  border-radius: 50%;
  overflow: hidden;
}

.quote__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.quote__top:not(:last-child) {
  margin-bottom: 6px;
}

.quote__ttl {
  color: var(--primary-light);
  font-size: 24px;
  font-weight: 500;
  line-height: 1.33;
}

.quote__top img {
  flex: 0 0 24px;
  width: 24px;
  height: 24px;
}
.quote__text {
  color: rgba(244, 244, 244, 0.6);
  font-size: 14px;
  line-height: 1.28;
}
.quote__text:not(:last-child) {
  margin-bottom: 18px;
}
.quote__author {
  color: var(--primary-light);
  font-size: 16px;
  line-height: 1.5;
}
.quote__author:not(:last-child) {
  margin-bottom: 18px;
}
.quote__daily-list {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(2, 1fr);
}
.quote__daily-item {
  border-radius: var(--border-radius-md);
  background-color: var(--white);
  padding: 25px;
}
.quote__daily-icon {
  width: 20px;
}
.quote__daily-icon:not(:last-child) {
  margin-bottom: 15px;
}
.quote__time-value {
  color: var(--primary);
  font-size: 24px;
  font-weight: 500;
  line-height: 1.33;
}
.quote__time-value:not(:last-child),
.quote__sports:not(:last-child) {
  margin-bottom: 6px;
}
.quote__sports {
  color: rgba(36, 36, 36, 0.6);
  font-size: 14px;
  line-height: 1.28;
}
.quote__daily-image {
  position: relative;
  aspect-ratio: 239/141;
  overflow: hidden;
  border-radius: var(--border-radius-md);
}
.quote__daily-image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.card {
  border-radius: 15px;
  background-color: var(--white);
  padding: 16px;
}
.card__header {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}
.card__header:not(:last-child),
.card__body:not(:last-child) {
  margin-bottom: 25px;
}
.card__workout {
  display: flex;
  align-items: center;
  gap: 9px;
}
.card__label {
  color: var(--primary);
  font-size: 12px;
  font-weight: 500;
  line-height: normal;
  padding: 5px 8px;
  border-radius: 15px;
  border: 1px solid var(--primary);
}
.card__delete {
  flex: 0 0 16px;
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  svg {
    max-width: 100%;
  }
}

.card__start {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  color: var(--primary);
  font-size: 16px;
  line-height: 1.5;
}

.card__start i {
  flex: 0 0 16px;
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__start i svg {
  max-width: 100%;
}

.card__exercise {
  display: flex;
  align-items: center;
  gap: 16px;
}
.card__exercise-logo {
  flex: 0 0 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  overflow: hidden;
  background-color: rgba(36, 36, 36, 1);
}
.card__exercise p {
  color: var(--primary);
  font-size: 24px;
  line-height: 1.33;
}
.card__exercise:not(:last-child),
.card__list:not(:last-child) {
  margin-bottom: 8px;
}
.card__list {
  display: flex;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
}
.card__list-item {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 12px;
  line-height: 1.5;
}
.card__list-item p {
  color: rgba(36, 36, 36, 0.4);
}
.card__list-item span {
  color: var(--primary);
}

@media screen and (min-width: 1440px) {
  .favorites__quote {
    flex: 0 1 494px;
  }
  .favorites__body {
    flex: 0 1 850px;
  }
}

@media screen and (max-width: 1439px) {
  .favorites__main {
    flex-direction: column;
    gap: 64px;
  }
  .favorites__list {
    padding-right: 0px;
  }
  .quote__daily-image {
    aspect-ratio: 344/141;
  }
}

@media screen and (max-width: 768px) {
  .favorites h1 {
    font-size: 22px;
  }
  .favorites h1:not(:last-child) {
    margin-bottom: 20px;
  }

  .favorites__main {
    gap: 40px;
  }

  .quote__article {
    padding: 20px;
  }

  .quote__article:not(:last-child) {
    margin-bottom: 20px;
  }
  .quote__daily-list {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .quote__daily-image {
    aspect-ratio: 335/119;
  }
  .favorites__list {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .favorites__empty {
    font-size: 14px;
  }
}
