@font-face {
  font-family: 'DMSans';
  src:
    url('../fonts/dmsans-regular.woff2') format('woff2'),
    url('../fonts/dmsans-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DMSans';
  src:
    url('../fonts/dmsans-medium.woff2') format('woff2'),
    url('../fonts/dmsans-medium.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DMSans';
  src:
    url('../fonts/dmsans-italic.woff2') format('woff2'),
    url('../fonts/dmsans-italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
