@import 'modern-normalize/modern-normalize.css';
@import 'izitoast/dist/css/iziToast.min.css';
@import './common.css';
@import './font.css';
@import './variables.css';
@import './reset.css';
@import './layout/header.css';
@import './layout/footer.css';
@import './exercises.css';
@import './hero.css';
@import './favorites.css';
@import './burger-menu.css';
@import './exercise-modal.css';
@import './rating-modal.css';
@import './categories.css';
@import './filtered-exercises.css';
@import './breadcrumbs.css';
