:root {
  --white: #ffffff;
  --primary: #242424; /** texts on libgt bg, bgs */
  --primary-disabled: rgba(36, 36, 36, 0.1); /** disabled pagination btns ... */
  --primary-inactive: #d4d4d4; /** inactive pages ... */
  --primary-light: #f4f4f4; /** light bg, text color on dark bg */
  --primary-light-inactive: rgba(244, 244, 244, 0.2); /** not selected star */
  --gold: #eea10c; /** selected star */
  --light-blue-gray: #c6cdd1;
  --text-secondary: rgba(36, 36, 36, 0.6);
  --text-helper: rgba(244, 244, 244, 0.4);
  --shadow:
    0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  --rgba-bg-color: 4, 4, 4;
  --rgba-black: 36, 36, 36;
  --rgba-light-gray: 212, 212, 212;
  --rgba-orange: 238, 161, 12;
  --rgba-light: 244, 244, 244;
  --border-radius-lg: 30px;
  --border-radius-md: 20px;
  --border-radius-sm: 12px;
  --main-padding: 1.25rem;
  --breakpoint-sm: 375px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1440px;
  --container-max-width: 335px;
  --main-font-family: 'DMSans', sans-serif;
  --transition-fast: 330ms cubic-bezier(0.4, 0, 0.2, 1);
  --transition: 350ms ease-in;
}

@media screen and (min-width: 768px) {
  :root {
    --main-padding: 32px;
    --container-max-width: 706px;
  }
}

@media screen and (min-width: 1440px) {
  :root {
    --main-padding: 32px;
    --container-max-width: 1376px;
  }
}
